@import './icon_func.scss';
.icon__button {
  @include icon(button, #f93c65, 20px);
  &::hover {
    background-image: get-icon(button, #f93c65);
  }
}
.icon__nail-service {
  @include icon(nail-service, #000020, 24px);
  &::hover {
    background-image: get-icon(nail-service, #000020);
  }
}
.icon__hookah {
  @include icon(hookah, #000020, 24px);
  &::hover {
    background-image: get-icon(hookah, #000020);
  }
}
.icon__service {
  @include icon(service, #000020, 24px);
  &::hover {
    background-image: get-icon(service, #000020);
  }
}
.icon__scissors {
  @include icon(scissors, #000020, 24px);
  &::hover {
    background-image: get-icon(scissors, #000020);
  }
}
.icon__home {
  @include icon(home, #f93c65, 24px);
  &::hover {
    background-image: get-icon(home, #f93c65);
  }
}
.icon__user {
  @include icon(user, #000020, 24px);
  &::hover {
    background-image: get-icon(user, #000020);
  }
}
.icon__search {
  @include icon(search, #000020, 24px);
  &::hover {
    background-image: get-icon(search, #000020);
  }
}
.icon__bell {
  @include icon(bell, #000020, 24px);
  &::hover {
    background-image: get-icon(bell, #000020);
  }
}
.icon__calendar {
  @include icon(calendar, #000020, 24px);
  &::hover {
    background-image: get-icon(calendar, #000020);
  }
}
.icon__angle-left {
  @include icon(angle-left, #000020, 24px);
  &::hover {
    background-image: get-icon(angle-left, #000020);
  }
}
