.popular-categories {
  &__link {
    padding: 8px 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000020;
    &:hover,
    &:visited {
      color: #000020;
    }
  }
  &__title {
    margin-left: 16px;
  }
}
.paper--popular-categories {
  margin-top: 16px;
}
.section--popular-categories {
  margin-top: 0;
}
.list__group--popular-categories {
  padding-bottom: 0;
}
.icon__button--popular-categories {
  margin-left: auto;
}
.list__item--popular-categories:first-child .popular-categories__link {
  padding-top: 16px;
}
.list__item--popular-categories:last-child .popular-categories__link {
  padding-bottom: 16px;
}
