@import './components/UI/UI.scss';
@import './components/pages/Home/home.scss';
body {
  color: #000020;
  margin: 0;
  padding: 0;
  font-family: Neuron, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f6f7f9;
}
@font-face {
  font-family: 'Neuron';
  src: url(./fonts/Neuron-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neuron';
  src: url(./fonts/Neuron-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}
